<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav p-2"> 
    
    <li class="nav-item">
      <button routerLink="/accounts" class="btn btn-primary me-2" routerLinkActive="active">
        Account List
      </button>
    </li>

    <li class="nav-item">
      <button routerLink="/create" class="btn btn-success" routerLinkActive="active">
        Add Account
      </button>
    </li>

  </ul>
</nav>

<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Accounts Manager</h2>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>