<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Account List</h2>
  </div>
  <div class="panel-body">
    <button (click)="createAccount()" class="btn btn-success" style="margin-bottom: 15px;">Create New Account</button>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Owner Name</th>
          <th>Balance</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts | async">
          <td>{{account.id}}</td>
          <td>{{account.ownerName}}</td>
          <td>{{account.balance}}</td>
          <td>
            <button (click)="deleteAccount(account.id)" class="btn btn-danger">Delete</button>
            <button (click)="accountDetails(account.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            <button (click)="updateAccount(account.id)" class="btn btn-warning" style="margin-left: 10px">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>